<div th:fragment="navBar(activePage, activeSub)"
     class="menu"
     xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="menu-container">
        <div sec:authorize="isAuthenticated()" class="menu-account">
            <p><span sec:authentication="principal.username"></span></p>
        </div>
        <div class="menu-titles">
            <div sec:authorize="isAnonymous()" class="menu-login">
                <h2 class="menu-title-sec" onclick="window.location.href='/login'">LOGGA IN</h2>
            </div>
            <div class="menu-booking" th:classappend="${activePage == 'booking'} ? 'active' : 'submenu-hidden'">
                <h2 class="menu-title" onclick=expand(this)>BOKNING</h2>
                <ul class="submenu">
                    <li>
                        <a class="link" onclick="window.location.href='/booking'" th:classappend="${activeSub == 'newBooking'} ? 'activeSub' : ''">Ny bokning</a>
                    </li>
                    <li>
                        <a class="link" th:classappend="${activeSub == 'bookingSearch'} ? 'activeSub' : ''" onclick="window.location.href='/booking/search'">Redigera bokning</a>
                    </li>
                </ul>
            </div>
            <div class="menu-customer" th:classappend="${activePage == 'customer'} ? 'active' : 'submenu-hidden'">
                <h2 class="menu-title" onclick="expand(this)">KUNDHANTERING</h2>
                <ul class="submenu">
                    <li>
                        <a class="link" th:classappend="${activeSub == 'customers'} ? 'activeSub' : ''" onclick="window.location.href='/customer/'">Hantera privatkund</a>
                    </li>
                    <li>
                        <a class="link" th:classappend="${activeSub == 'contractCustomers'} ? 'activeSub' : ''" onclick="window.location.href='/contractCustomer/'">Företagskunder</a>
                    </li>
                </ul>
            </div>
            <div class="menu-room" th:classappend="${activePage == 'room'} ? 'active' : 'submenu-hidden'">
                <h2 class="menu-title" onclick=expand(this)>RUM</h2>
                <ul class="submenu">
                    <li>
                        <a class="link" th:classappend="${activeSub == 'rooms'} ? 'activeSub' : ''" onclick="window.location.href='/room/all/'">Visa alla rum</a>
                    </li>
                </ul>
            </div>
            <div class="menu-blacklist" th:classappend="${activePage == 'blacklist'} ? 'active' : 'submenu-hidden'">
                <h2 class="menu-title" onclick=expand(this)>BLACKLIST</h2>
                <ul class="submenu">
                    <li>
                        <a class="link" th:classappend="${activeSub == 'blacklisted'} ? 'activeSub' : ''" onclick="window.location.href='/customer/blacklist'">Svartlistade kunder</a>
                    </li>
                    <li>
                        <a class="link" th:classappend="${activeSub == 'newBlacklist'} ? 'activeSub' : ''" onclick="window.location.href='/customer/blacklist/form'">Svartlista ny kund</a>
                    </li>
                </ul>
            </div>
            <div class="menu-mail-template">
                <h2 class="menu-title" onclick="window.location.href='/mailTemplate/edit'">REDIGERA MALLAR</h2>
            </div>
                <div sec:authorize="isAuthenticated()" class="menu-logout">
                <h2 class="menu-title-sec" onclick="window.location.href='/logout'">LOGGA UT</h2>
            </div>
        </div>
    </div>
</div>
