body {
    font-family: 'Roboto', sans-serif;
    background-color: #70ADB3;
    color: #4f4b6a;
}

.index-body, .room-list-body {
    overflow: hidden;
}

.index-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: auto;
    z-index: 10;
}

@keyframes spin {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.header-img:hover {
    animation: spin 1s linear infinite;
    transform-origin: center;
}

.header-text {
    position: absolute;
    top: 110px;
    width: 250px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.index-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
}

.label-CustomerOrNot {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
}

.input-CustomerOrNot {
    width: 95%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px; /* Rundade hörn */
    font-size: 18px;
}


.index-btn {
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    color: #4f4b6a;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    width: 320px;
    height: 80px;
    margin: 10px;
    transition: transform 300ms;
}

.booking-btn {
    height: 120px;
}

.index-btn:hover {
    font-weight: 700;
    border: 3px solid #4f4b6a;
    transform: scale(1.03);
    cursor: pointer;
    -webkit-box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
    -moz-box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
    box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.label, .label-s {
    width: 100px;
    display: inline-block;
    padding-bottom: 20px;
}

.label-s {
    width: 70px;
}

.nr-input {
    width: 50px;
}

.booking-content {
    display: grid;
    grid-template-rows: 1fr 230px 230px;
    grid-gap: 6px;
    width: 600px;
    margin: 20px auto;
}

.booking-options {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 20px;
}

.left, .right {
    display: block;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    color: #4f4b6a;
}

.back-link {
    position: absolute;
    top: 20px;
    color: #4f4b6a;
    font-size: 20px;
    font-weight: 600;
}
/*
#submit-booking, .booking-booking-btn {
    color: #ffffff;
    background-color: #4f4b6a;
    height: 30px;
    width: 150px;
    border: 2px solid #4f4b6a;
    border-radius: 8px;
    font-weight: 700;
}

 */

#submit-booking:hover {
    cursor: pointer;
}

#booking-chosen-rooms, #booking-empty-rooms {
    display: flex;
    justify-content: center;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 10px;
}

#booking-chosen-rooms {
    display: none;
}

.show-rooms {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 120px;
    padding-right: 20px;
}

.show-rooms::-webkit-scrollbar {
    width: 8px;
}

.show-rooms::-webkit-scrollbar-thumb {
    background-color: #4f4b6a;
    border-radius: 4px;
}

.show-rooms::-webkit-scrollbar-track {
    background-color: #fff;
}

.header-rooms-idk {
    display: grid;
    grid-template-columns: 100px 1fr 80px 30px;
    width: 480px;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
}

.room-row-av {
    display: grid;
    grid-template-columns: 100px 1fr 80px 30px;
    width: 480px;
    gap: 5px;
    border: 2px solid #4f4b6a;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.room-row-av td {
    padding: 3px;
}

.booking-header {
    position: absolute;
    left: 350px;
}

.add-room-btn, .remove-room-btn {
    display: flex;
    justify-content: center;
    background-color: #4f4b6a;
    border-radius: 3px;
    background-size: contain;
    cursor: pointer;
}

.add-room-btn img, .remove-room-btn img {
    height: 15px;
    width: auto;
}

.booking-booking-btn {
    float: right;
    cursor: pointer;
    margin-top: 10px;
}

.title-booking {
    height: 15px;
    font-size: 12px;
    font-weight: 600;
}

.bed-number {
    width: 70%;
    padding: 0 !important;
}

.error-pop-up {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    height: auto;
    width: 560px;

    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    padding: 20px;

    font-size: 14px;
    text-align: center;
    z-index: 1001;
}

.ok-btn-pop-up {
    background-color: #4f4b6a;
    color: white;
    font-weight: 800;
    font-size: 12px;
    border-radius: 8px;
    align-self: center;
    margin: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.pop-up-header {
    margin-bottom: 25px;
    font-size: 20px;
}

.con-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
}

.not-a-form-anymore {
    background-color: #d1d3d4;
    border: 3px solid #4f4b6a;
    border-radius: 12px;
    width: 600px;
    padding: 30px;
}

.con-btn {
    background-color: #4f4b6a;
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px;
    width: 200px;
    margin-left: 395px;
}

.booking-info-div {
    position: absolute;
    left: 180px;
    top: 80px;
    width: 220px;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 8px;
    padding: 25px 20px 10px 20px;
}

.info-layout {
    display: grid;
    grid-template-rows: repeat(3, 18px 1fr);
    margin-bottom: 15px;
}

.info-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.info-variable p {
    font-size: 13px;
    font-weight: 500;
    margin-top: -5px;
}

.booking-info-values {
    font-size: 18px;
    font-weight: 600;
}
/*
.btn {
    background-color: #4f4b6a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    height: 50px;
    cursor: pointer;
}

 */

.grey-btn {
    background-color: #757575;
    color: #414141;
}

#update-booking-chosen-rooms, #update-booking-empty-rooms {
    display: flex;
    justify-content: center;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 10px;
}

.booking-search-div {
    display: grid;
    grid-template-rows: 50px 20px 20px 20px;
    gap: 50px;
    text-align: center;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    width: 400px;
    height: auto;
    padding: 20px;
}

.customer-search {
    width: 300px;
    border-radius: 8px;
    font-size: 20px;
    height: 35px;
}

.search-customer-button {
    background-color: #4f4b6a;
    color: #fff;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    align-self: end;
    margin-top: 20px;
    margin-bottom: 30px;
}

#update-booking-empty-rooms {
    display: flex;
}

.delete-warning {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    height: 200px;

    display: grid;
    grid-template-rows: 30px 20px 40px;
    text-align: center;

    background-color: #d1d3d4;
    border: 3px solid #4f4b6a;
    border-radius: 12px;
    padding: 30px;
}

.delete-title {
    font-size: 16px;
    font-weight: 800;
}

.delete-p {
    margin-bottom: 50px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.hidden {
    display: none;
}

.customers-background {
    background-color: #d1d3d4;
    border: 3px solid #4f4b6a;
    border-radius: 12px;
    padding: 20px 50px;
}

.background-fixed-center {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-header {
    background-color: #4f4b6a;
    color: #fff;
}

.read-only {
    background-color: #757575;
    color: #414141;
    border-color: #414141;
}

.read-only .bed-number {
    background-color: #757575;
    color: #414141;
}
.read-only .remove-add-btn {
    background-color: #757575;
}

.update-blacklist-customers {
    display: flex;
    flex-direction: column;
    background: #d1d3d4;
    padding: 40px 20px;
    border: 3px solid #4f4b6a;
    border-radius: 12px;
}

.update-blacklist {
    display: grid;
    grid-template-columns: 300px 350px 100px !important;
}

.tr-user-update {
    display: grid;
    grid-template-columns: 220px 180px 140px;
}

.mail-variable-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.mail-variable-container-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #d1d3d4;
}

.edit-templates-container {
    background-color: #d1d3d4;
    padding: 20px;
}

.rounded-border-3-12 {
    border: 3px solid #4f4b6a;
    border-radius: 12px;
}

.edit-content {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-top: 20px;
    gap: 10px;
}

.edit-list-head {
    font-size: 14px;
}


.edit-list-items {
    display: flex;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #4f4b6a;
    border-radius: 4px;
    margin: 2px 0;
    padding: 3px;
    width: 160px;
}

.edit-list-items:hover {
    background-color: #70ADB3;
    font-weight: 600;
    cursor: pointer;
}

.mail-container-2 {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
}

.mail-textarea-2 {
    width: 460px;
    height: 200px;
    padding: 12px;
    margin: 10px;
}

#edit-head {
    width: 460px;
    padding: 12px;
}

.edit-btn-msg-div {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 460px;
}

.do-not-look-like-link {
    text-decoration: none;
    color: inherit;
}

.edit-list-list {
    display: block;
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
}


.edit-list-list::-webkit-scrollbar {
    width: 6px;
}


#mailText::-webkit-scrollbar {
    width: 8px;
}


.edit-list-list::-webkit-scrollbar-thumb, #mailText::-webkit-scrollbar-thumb {
    background-color: #4f4b6a;
    border-radius: 4px;
}

.edit-list-list::-webkit-scrollbar-track, #mailText::-webkit-scrollbar-track {
    background-color: #fff;
}

#mailText {
    resize: none;
}

