body {
    font-family: 'Roboto', sans-serif;
    background-color: #70ADB3;
    color: #4f4b6a;
    overflow: hidden;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: auto;
    z-index: 10;
}

.header-text {
    position: absolute;
    top: 110px;
    width: 250px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
}

.index-btn {
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    color: #4f4b6a;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    width: 320px;
    height: 80px;
    margin: 10px;
    transition: transform 300ms;
}

.booking-btn {
    height: 120px;
}


.index-btn:hover {
    font-weight: 700;
    border: 3px solid #4f4b6a;
    transform: scale(1.03);
    cursor: pointer;
    -webkit-box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
    -moz-box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
    box-shadow: 6px 10px 5px -5px rgba(79,75,106,0.17);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    z-index: 1;
}

.label, .label-s {
    width: 100px;
    display: inline-block;
    padding-bottom: 20px;
}

.label-s {
    width: 70px;
}

.nr-input {
    width: 50px;
}

.content-booking {
    display: grid;
}

.booking-options {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 30px;
}

.left, .right {
    display: block;
}

input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    color: #4f4b6a;
}

.back-link {
    position: absolute;
    top: 20px;
    color: #4f4b6a;
    font-size: 20px;
    font-weight: 600;
}

#submit-booking {
    color: #ffffff;
    background-color: #4f4b6a;
    height: 30px;
    width: 150px;
    border: 2px solid #4f4b6a;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 10px;
}

#submit-booking:hover {
    cursor: pointer;
}

#booking-chosen-rooms {
    display: flex;
    justify-content: center;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 30px;
    margin-top: -60px;
}

#booking-empty-rooms {
    display: flex;
    justify-content: center;
    background-color: #d1d3d4;
    border: 2px solid #4f4b6a;
    border-radius: 12px;
    color: #4f4b6a;
    padding: 30px;
    margin-top: -60px;
}
.show-rooms {
    overflow: scroll;
}

.header-rooms-idk {
    display: grid;
    grid-template-columns: 80px 1fr 50px 50px;
    width: 480px;
    gap: 5px;
    font-weight: 600;
    font-size: 12px;
}
.room-row-av {
    display: grid;
    grid-template-columns: 80px 1fr 50px 50px;
    width: 480px;
    gap: 5px;
    border: 2px solid #4f4b6a;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.room-row-av td {
    padding: 3px;
}