body {
    background-color: #70ADB3;
    color: #4f4b6a;
}
/* Layout */

/* Buttons */

.btn {
    background-color: #4f4b6a;
    color: #fff;

    border-radius: 8px;
    padding: 7px 12px;

    font-weight: 700;
    font-size: 14px;

    cursor: pointer;
}

.customers-table {
    display: flex;
    /*    flex-direction: column; */
}

.customers-table td {
    padding: 10px 40px 0 0;
    font-size: 18px;
}

.customer-row {


}

.JAVAD23 {
    align-self: end;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.section {
    display: grid;
    padding: 30px 30px 30px 80px;
    background-color: #d1d3d4;
    border: 3px solid #4f4b6a;
    border-radius: 12px;
    align-items: end;
    justify-items: stretch;
}

.menu {
    position: fixed;
    inset: 0 auto 0 0;
    background-color: #4f4b6a;
    padding: 20px 40px;
    width: 200px;
}

.menu-container {
    color: #FFFFFF;
}

.link {
    cursor: pointer;
    font-size: 12px;
    &:hover {
        font-weight: 800;
    }
}

