body {
    background-color: #70ADB3;
    color: #4f4b6a;
}

.btn {
    background-color: #4f4b6a;
    color: #fff;

    border-radius: 8px;
    padding: 7px 12px;

    font-weight: 700;
    font-size: 14px;

    cursor: pointer;
}