<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link rel="icon" type="image/x-icon" href="/images/house.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="index-body">

<div class="header index-header">
    <div>
        <img class="header-text" src="/images/BedBasse.png" alt="Bed and Basse Pensionat">
    </div>
    <br>
    <div>
        <img class="header-img" src="/images/house.png" alt="Pensionat-ikon i blått">
    </div>
</div>
<div class="content index-content">
    <div class="booking-search-div">
        <div>
            <h1>SÖK BOKNING</h1>
        </div>
        <form action="#" method="get" th:object="${id}" th:action="@{/booking/update}">
            <div>
                <label>
                    <input class="customer-search" name="id" placeholder="Sök" type="text" value="" required>
                </label>
            </div>
            <div>
                <input class="search-customer-button" type="submit" value="SÖK">
            </div>
        </form>
        <div>
            <p th:text="${result}">
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <p>&#9824; Eddie Boschek &#9829; Sania Runnfors Larsson &#9827; Sebastian Karlsson &#9830; Simon Nordlund</p>
</div>

</body>
</html>
