<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link href="/images/house.png" rel="icon" type="image/x-icon"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/contractCustomers.css" rel="stylesheet" type="text/css">
    <link href="/css/paging.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="index-header header">
    <div>
        <img class="header-text" src="/images/BedBasse.png" alt="Bed and Basse Pensionat">
    </div>
    <br>
    <div>
        <img class="header-img" src="/images/house.png" alt="Pensionat-ikon i blått">
    </div>
</div>

<div class="content">

    <div class="allCustomers customers-background">

        <div class="placement-return-button">

            <div>
                <form action="#" method="get" th:action="@{#}">
                    <input class="customer-search" name="email" placeholder="Sök" type="text" value="">
                    <input class="search-customer-button" type="submit" value="Submit">
                </form>
            </div>

            <a class="return-link" th:href="@{/}">
                <div class="return-button">Tillbaka</div>
            </a>

        </div>

        <table class="customers-table">
            <tr class="table-header">
                <th> Företag
                    <a th:href="@{'/contractCustomer/handle/sort/' + ${currentPage} + '?sort=companyName&order=' + ${order=='asc' && sort == 'companyName' ? 'desc' : 'asc'}}">
                        <img src="/images/white_arrows.png" alt="Sort Customers By Name">
                    </a>
                </th>
                <th> Kontakt
                    <a th:href="@{'/contractCustomer/handle/sort/' + ${currentPage} + '?sort=contactName&order=' + ${order=='asc' && sort == 'contactName' ? 'desc' : 'asc'}}">
                        <img src="/images/white_arrows.png" alt="Sort Customers By Name">
                    </a>
                </th>
                <th> Land
                    <a th:href="@{'/contractCustomer/handle/sort/' + ${currentPage} + '?sort=country&order=' + ${order=='asc' && sort == 'country' ? 'desc' : 'asc'}}">
                        <img src="/images/white_arrows.png" alt="Sort Customers By Name">
                    </a>
            </tr>
            <tbody>
            <tr class="customer-row" th:each="c : ${allCustomers}" th:attr="onclick='window.location.href=&quot;contractCustomer/' + ${c.id} + '&quot;;'">
                <td th:text="${c.companyName}"></td>
                <td th:text="${c.contactName}"></td>
                <td th:text="${c.country}"></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination">
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(1, 'First', 'First Page') "></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
                </li>
                <li class="page-item dots font-weight-bold" th:if="${currentPage - 2 > 1}">
                    <a th:replace="fragments/paging :: paging(${currentPage - 3}, '...', 'Back 3')">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}">
                    <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
                </li>
                <li class="page-item dots font-weight-bold" th:if="${currentPage + 2 < totalPages}">
                    <a th:replace="fragments/paging :: paging(${currentPage + 3}, '...', 'Forward 3')">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${currentPage + 1}, 'Next', 'Next Page')"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="fragments/paging :: paging(${totalPages}, 'Last', 'Last Page')"></a>
                </li>
            </ul>
        </nav>
        <div th:if="${totalPages > 1}">
            Total Items : [[${totalItems}]]
            &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
            Pages : [[${totalPages}]]
        </div>
    </div>
</div>

<div class=" footer">
    <p>&#9824; Eddie Boschek &#9829; Sania Runnfors Larsson &#9827; Sebastian Karlsson &#9830; Simon
        Nordlund</p>
</div>
</body>
</html>