<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link href="/images/house.png" rel="icon" type="image/x-icon"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/handleCustomers.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/universal.css">
    <link href="/css/paging.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/NavBar :: navBar('room', 'rooms')}"></div>
<div class="header index-header">
    <div>
        <a th:href="@{/}">
            <img class="header-text" src="/images/BedBasse.png" alt="Bed and Basse Pensionat">
        </a>
    </div>
    <br>
    <div>
        <a th:href="@{/}">
            <img class="header-img" src="/images/house.png" alt="Pensionat-ikon i blått">
        </a>
    </div>
</div>

<div class="content index-content">

    <div class="allCustomers customers-background">

        <table class="customers-table">
            <tr class="table-header room-row">
                <th th:text="'Room ' + ${roomNumber}"></th>
            </tr>
            <tbody>
            <tr class="customer-row event-row" th:each="r : ${allRoomEvents}">
                <td th:text="${r.typeOfEvent}"></td>
                <td th:text="${r.timeStamp}"></td>
                <td th:text="${r.cleaningByUser}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination">
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(1, 'First', 'First Page')}"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
                </li>
                <li class="page-item dots font-weight-bold" th:if="${currentPage - 2 > 1}">
                    <a th:replace="~{fragments/paging :: paging(${currentPage - 3}, '...', 'Back 3')}">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}">
                    <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item dots font-weight-bold" th:if="${currentPage + 2 < totalPages}">
                    <a th:replace="~{fragments/paging :: paging(${currentPage + 3}, '...', 'Forward 3')}">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage + 1}, 'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${totalPages}, 'Last', 'Last Page')}"></a>
                </li>
            </ul>
        </nav>
        <div th:if="${totalPages > 1}">
            Total Items : [[${totalItems}]]
            &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
            Pages : [[${totalPages}]]
        </div>

    </div>
</div>

<div class=" footer">
    <p>&#9824; Eddie Boschek &#9829; Sania Runnfors Larsson &#9827; Sebastian Karlsson &#9830; Simon
        Nordlund</p>
</div>
<script th:src="@{/js/menuExpand.js}"></script>
</body>
</html>