<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link rel="icon" type="image/x-icon" href="/images/house.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/handleCustomers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="header">
    <div>

    </div>
</div>

<div class="content">


    <div class="allCustomers" th:unless="${#lists.isEmpty(allCustomers)}">

        <div class="SaveMeSören">

        <div>
            <form action="#" th:action="@{/customer/search}" method="get">
                <input type="text" name="email" class="customer-search" value="" placeholder="Sök">
                <input class="search-customer-button" type="submit" value="Submit">
            </form>
        </div>

            <div class="return-button">
                <a th:href="@{/}">Tillbaka</a>
            </div>

        </div>

        <table class="customers-table">
            <tr class="table-header">
                <th> id</th>
                <th> namn</th>
                <th> email</th>
            </tr>
            <tbody>
            <tr class="customer-row" th:each="c : ${allCustomers}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.name}"></td>
                <td th:text="${c.email}"></td>
                <td class="td-icons edit"> <a th:href="@{/customer/{id}/update(id=${c.id})}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg> </a>
                    </td>
                <td class="td-icons remove"> <a th:href="@{/customer/{id}/removeHandler(id=${c.id})}"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg> </a>
                    </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            Total Items: [[${totalItems}]]
            &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

            <a th:if="${currentPage > 1}" th:href="@{'/customer/handle/1'}">First</a>
            <span th:unless="${currentPage > 1}">First</span>
            &nbsp;&nbsp;

            <a th:if="${currentPage > 1}" th:href="@{'/customer/handle/' + ${currentPage - 1}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>

            &nbsp;&nbsp;

            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
			<a th:if="${currentPage != i}" th:href="@{'/customer/handle/' + ${i}}">[[${i}]]</a>
			<span th:unless="${currentPage != i}">[[${i}]]</span>
			&nbsp;
		</span>

            <a th:if="${currentPage < totalPages}" th:href="@{'/customer/handle/' + ${currentPage + 1}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
            &nbsp;&nbsp;

            <a th:if="${currentPage < totalPages}" th:href="@{'/customer/handle/' + ${totalPages}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>

<div class=" footer
                ">
                <p>&#9824; Eddie Boschek &#9829; Sania Runnfors Larsson &#9827; Sebastian Karlsson &#9830; Simon
                    Nordlund</p>
    </div>
    </body>
</html>