<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link rel="icon" type="image/x-icon" href="/images/house.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="index-body">

<div class="header index-header">
    <div>
        <img class="header-text" src="/images/BedBasse.png" alt="Bed and Basse Pensionat">
    </div>
    <br>
    <div>
        <img class="header-img" src="/images/house.png" alt="Pensionat-ikon i blått">
    </div>
</div>

<div class="content index-content">
    <div>
        <div>
            <button class="booking-btn index-btn" onclick="window.location.href='/booking'">NY BOKNING</button>
        </div>
        <div>
            <button class="edit-booking-btn index-btn" onclick="window.location.href='/booking/search'">REDIGERA BOKNING</button>
        </div>
        <div>
            <button class="edit-customer-btn index-btn" onclick="window.location.href='/customer/handle'">HANTERA KUND</button>
        </div>
        <div>
            <button class="edit-customer-btn index-btn" onclick="window.location.href='/customer/contractCustomer'">CC</button>
        </div>
    </div>
</div>
<div class="footer">
    <p>&#9824; Eddie Boschek &#9829; Sania Runnfors Larsson &#9827; Sebastian Karlsson &#9830; Simon Nordlund</p>
</div>

</body>
</html>