<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pensionat</title>
    <link rel="icon" type="image/x-icon" href="/images/house.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>
<body>

<!-- Header/Meny ? -->
<div class="header">
    <h1>Pensionat</h1>
</div>
<div class="content">
    <div>
        <button class="booking-btn">BUTTON YEAH!</button>
    </div>
</div>

<!-- Knapp/Länk för att utföra bokning ? -->

<div class="footer">
    <p>This is a footer hello</p>
</div>

</body>
</html>