<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="icon" type="image/x-icon" href="/images/house.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/universal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header index-header">
    <div>
        <img class="header-text" src="/images/BedBasse.png" alt="Bed and Basse Pensionat">
    </div>
    <br>
    <div>
        <img class="header-img" src="/images/house.png" alt="Pensionat-ikon i blått">
    </div>
</div>

<div th:replace="~{fragments/NavBar :: navBar('', '')}"></div>

<div class="log-in-div">
    <div class="log-in-inner-div">
        <h2>Hello, Children!</h2>
        <p th:if="${loginError}" class="error">Fel användarnamn eller lösenord</p>
        <form class="log-in-form" th:action="@{/login}" method="post">
            <label for="username">ANVÄNDARNAMN</label>
            <input class="log-in-input" type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">LÖSENORD</label>
            <input class="log-in-input" type="password" id="password" name="password" /> <br />
            <div class="right">
                <input class="btn" type="submit" value="LOGGA IN" />
            </div>
            <div in></div>
        </form>
    </div>
</div>
</body>
</html>