<!doctype html>
<html lang="sv">
<head>
    <title>Confirmation email template</title>
    <style>
    </style>
</head>
<body>
    <div class="mail-container">
        <form action="#" method="POST" th:action="@{/mailTemplate/updateTemplate}" id="mailForm">
            <textarea class="mail-textarea" name="mailText" form="mailForm" th:text="${text}" required="required"></textarea>
            <input class="search-customer-button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>